<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
    <input id="name" class="form-control" type="hidden" name="$key" #$key="ngModel"
        [(ngModel)]="employeeService.selectedEmployee.$key">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" type="text" name="name" #name="ngModel"
            [(ngModel)]="employeeService.selectedEmployee.name" required>
    </div>
    <div class="form-group">
        <label for="position">Position</label>
        <input id="position" class="form-control" type="text" name="position" #position="ngModel"
            [(ngModel)]="employeeService.selectedEmployee.position">
    </div>
    <div class="form-group">
        <label for="office">Office</label>
        <input id="office" class="form-control" type="text" name="office" #office="ngModel"
            [(ngModel)]="employeeService.selectedEmployee.office">
    </div>

    <div class="form-group">
        <label for="salary">Salary</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
            </div>

            <input id="salary" class="form-control" type="number" name="salary" #salary="ngModel"
                [(ngModel)]="employeeService.selectedEmployee.salary">
        </div>

    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="!employeeForm.valid">
            <i class="fas fa-save"></i> Submit
        </button>
        <button class="btn btn-default" type="button" (click)="resetForm(employeeForm)">
            <i class="fas fa-redo"></i> Reset
        </button>
    </div>
</form>